.btn{
  font-size: 16px;
  padding: 5px 20px;
  font-weight: 500;

  &.btn-add{
    @include device (mobile){
      position: fixed;
      right: 15px;
      bottom: 15px;
      width: 50px;
      height: 50px;
      flex: 0 0 50px;
      z-index: 3;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 28px;
      padding: 0;
    }
    span{
      @include device (mobile){
        display: none;
      }
    }
  }
}

.form-action{
  @include device (mobile){
    position: fixed;
    width: 100%;
    z-index: 3;
    bottom: 0;
    left: 5px;
    background-color: $white;
    box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
    padding: 10px 0;
  }

  .col-auto{
    @include device (mobile){
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .btn{
    @include device (mobile){
      margin-bottom: 0 !important;
      width: 100%;
    }
  }
}
