.card{
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
  .card-header{
    background-color: $white;
  }
  &--table{
    .card-body{
      padding: 0;
      margin: -1px;

      .table-responsive, .table{
        margin-bottom: 0;
      }
    }
  }
}
