body{
  background-color: #f8f8f8;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

section{
  padding: 80px 0;
  position: relative;
}

.logo{
  margin-bottom: 5px;

  img{
    height: 40px;
    width: auto;
  }
}
